.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.section-pd{
    padding-top: 100px;
    padding-bottom: 100px;
}

.person-container{
    width: 70%;
}

